@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.filterContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterButton {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: var(--color-light);
  color: var(--color-text);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.filterButton:hover {
  background-color: var(--color-primary);
}

.active {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projects .container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 830px) {
  .container
   {
    flex-direction: column-reverse;
  }
  .filterContainer{
    flex-direction: column;
  }

  .content {
    align-items: center;
  }
}

